{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Início</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% tailwind_css %}

    <script src="https://kit.fontawesome.com/83ffba3676.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    

</head>
<body>

<main class="h-dvh">

    <header class="bg-[#2E2E48] h-14 flex justify-between items-center">
        <img class="w-40" alt="logo" class="ml-6" src={% static 'img/logo.svg' %}/>
        <a class="mr-6 text-white" href={% url 'logout' %}>
            <button>Sair</button>
        </a>
    </header>

    <div class="flex h-full">
        <nav class="w-2/12 bg-[#2E2E48] pt-7 border-r border-black">
            <ul>
                <li class="nav-li">
                    <a class="w-10/12 block hover:bg-[#50506a] rounded-md"
                       href="#">
                        <button class="nav-button" type="button">
                            <i class="fa-solid fa-house mr-2"></i>Início
                        </button>
                    </a></li>

                <li class="nav-li">
                    <a class="w-10/12 block hover:bg-[#50506a] rounded-md"
                       href={% url 'categories' %}>
                        <button class="nav-button" type="button">
                            <i class="fa-solid fa-list mr-2"></i>Categorias
                        </button>
                    </a></li>

                <li class="nav-li">
                    <a class="nav-a"
                       href={% url 'articles' %}>
                        <button class="nav-button" type="button">
                            <i class="fa-solid fa-newspaper mr-2"></i>Publicações
                        </button>
                    </a></li>
            </ul>
        </nav>

        <div class="pt-7 justify-center flex w-full">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</main>

</body>
</html>