{% extends "news/Main.html" %}

{% block content %}

    <div class="max-w-10/12 w-10/12">
        <header class="text-2xl font-bold">
            Publicações
        </header>
        <div class="search-header">
            <div class="">
                <label>Pesquisar</label>
                <input class="rounded-md" type="text"/>
            </div>
            <a href={% url 'createArticles' %}>
                <button class="button-primary">Cadastrar</button>
            </a>
        </div>
        <div class="table-container">
            <table class="custom-table">
                <thead>
                <th>Código</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Postado</th>
                <th>Criado</th>
                <th>Ações</th>
                </thead>
                <tbody>
                {% for article in page.object_list %}
                    <tr class=" border-b border-black">
                        <td class="w-1/12">
                            {{ article.id }}
                        </td>

                        <td class="w-4/12">
                            {{ article.title | truncatechars:40 }}
                        </td>

                        <td class="w-4/12">
                            {{ article.slug | truncatechars:40 }}
                        </td>

                        <td class="w-1/12">
                            {{ article.posted }}
                        </td>

                        <td class="w-2/12">
                            {{ article.timestamp }}
                        </td>

                        <td class="w-1/12">
                            <a href={% url 'editArticles' article.id %}><i class="fa-solid fa-pen-to-square"></i> </a>
                            <a href={% url 'deleteArticles' article.id %}><i class="fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

        {% if page.has_previous %}

            {% if request.GET.search %}
                <a href="?page={{ page.previous_page_number }}&&search={{ request.GET.search }}">Anterior </a>
            {% else %}
                <a href="?page={{ page.previous_page_number }}">Anterior</a>
            {% endif %}

        {% endif %}

    
    {% for page_number in page.paginator.page_range %}
        <a href="?page={{ page_number }}"> {{ page_number}} </a>
    {% endfor %}
    
    
{#    Verificar se é a página atual e desativar#}
{#    {% if page_number == page.number %}#}
{#    {% endif %}#}
    

{#        {% if page.paginator.num_pages > 5 %}#}
{##}
{#            <a href="?page=1">1 </a>#}
{#            <a href="?page=2">2 </a>#}
{##}
{#            <a href="">...</a>#}
{#            <a href="?page={{ page.paginator.num_pages|add:"-2" }}"> {{ page.paginator.num_pages|add:"-2" }} </a>#}
{#            <a href="?page={{ page.paginator.num_pages|add:"-1" }}">{{ page.paginator.num_pages|add:"-1" }} </a>#}
{##}
{##}
{##}
{##}
{##}
{##}
            {#    {% if page.paginator.count %}#}
            {#        <p>Funcionou</p>#}
{#        {% endif %}#}




        {% if page.has_next %}

            {% if request.GET.search %}
                <a href="?page={{ page.next_page_number }}&&search={{ request.GET.search }}">Próxima </a>
            {% else %}
                <a href="?page={{ page.next_page_number }}">Próxima</a>
            {% endif %}

        {% endif %}


        {#        <div class="my-4 flex flex-row-reverse">#}
        {#            <div class="flex">#}
        {##}
        {##}
        {#                <ul class="inline-flex">#}
        {#                    <li class="flex items-center bg-gray-100 px-2 h-8 hover:cursor-pointer rounded-s-md">#}
        {#                        <button>#}
        {#                            <a href="#">Anterior#}
        {#                            </a>#}
        {#                        </button>#}
        {#                    </li>#}
        {##}
        {#                    <li class="flex items-center hover:bg-gray-200 bg-gray-100 px-2 h-8 hover:cursor-pointer">#}
        {#                        <a href="#">#}
        {#                            <button>1</button>#}
        {#                        </a>#}
        {#                    </li>#}
        {##}
        {#                    <li class="flex items-center hover:bg-gray-200 bg-gray-100 px-2 h-8 hover:cursor-pointer">#}
        {#                        <a href="#">#}
        {#                            <button>2</button>#}
        {#                        </a>#}
        {#                    </li>#}
        {#                    <li class="flex items-center hover:bg-gray-200 bg-gray-100 px-2 h-8 hover:cursor-pointer">#}
        {#                        <a href="#">#}
        {#                            <button>3</button>#}
        {#                        </a>#}
        {#                    </li>#}
        {#                    <li class="flex items-center hover:bg-gray-200 bg-gray-100 px-2 h-8 hover:cursor-pointer">#}
        {#                        <a href="#">#}
        {#                            <button>4</button>#}
        {#                        </a>#}
        {#                    </li>#}
        {##}
        {#                    <li class="flex items-center hover:bg-gray-200 bg-gray-100 px-2 h-8 hover:cursor-pointer rounded-e-md">#}
        {#                        <button>#}
        {#                            <a href="#">Próxima#}
        {#                            </a>#}
        {#                        </button>#}
        {#                    </li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}

    </div>

{% endblock %}