{% extends "news/Main.html" %}

{% block content %}

    <div class="max-w-10/12 w-10/12">
        <header>
            Categorias
        </header>
        <div class="search-header">
            <div class="">
                <label>Pesquisar</label>
                <input class="rounded-md" type="text"/>
            </div>
            <a href={% url 'createArticles' %}>
                <button class="button-primary">Cadastrar</button>
            </a>
        </div>
        <div class="table-container">
            <table class="custom-table">
                <tr>
                    <th>Código</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Postado</th>
                    <th>Criado</th>
                    <th>Ações</th>
                </tr>
                <tbody>
                {% for article in articles %}
                    <tr class=" border-b border-black h-16">
                        <td class="w-1/12">
                            {{ article.id }}
                        </td>

                        <td class="w-4/12">
                            {{ article.title | truncatechars:50 }}
                        </td>

                        <td class="w-4/12">
                            {{ article.slug | truncatechars:50 }}
                        </td>

                        <td class="w-1/12">
                            {{ article.posted }}
                        </td>

                        <td class="w-2/12">
                            {{ article.timestamp }}
                        </td>

                        <td class="w-1/12">
                            <a href={% url 'editArticles' article.id %}><i class="fa-solid fa-pen-to-square"></i> </a>
                            <a href={% url 'deleteArticles' article.id %}><i class="fa-solid fa-trash"></i> </a>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

{% endblock %}