{% extends "news/Main.html" %}

{% block content %}

    <div class="flex flex-col w-10/12">
        <header class="text-2xl font-bold">Criar Categoria</header>
        <form method="POST" action="" class="mt-8">
            {% csrf_token %}
            <input type="hidden" name="save_category">
            <input type="hidden" id="id" name="id" value={{ category.id }}/>
            <label>Descrição
                <input class="rounded-md" type="text" id="description" name="description"
                       value={{ category.description }}>
            </label>

            <div class="form-footer">
                <button class="button-primary">Salvar</button>
                <a class="button-primary" href={% url 'categories' %}>Voltar</a>
            </div>

        </form>
    </div>

{% endblock %}