{% extends "news/Portal/Main.html" %}
{% load static %}
{% block content %}

    <div class="view-container">
        <main>
            <div class="main-new">
                <a href={% url 'viewArticle' highlight.slug %}>
                    <h1>{{ highlight.title }}</h1>
                    <img src={{ highlight.thumb.url }}/>
                </a>
            </div>

            <div class="aside-news">
                {% for article in articles %}

                    <a href={% url 'viewArticle' article.slug %}>
                        <div class="aside-new">
                            <img src={{ article.thumb.url }}>
                            <div class="aside-text">
                                <span class="category-aside-description">{{ article.category.description }}</span>
                                <span class="article-aside-title">{{ article.title }}</span>
                            </div>
                        </div>
                    </a>

                {% endfor %}
            </div>

        </main>
    </div>

    <div class="">

    </div>

{% endblock %}