{% extends 'news/Portal/Main.html' %}
{% load static %}

{% block content %}
<div class="lg:w-10/12 lg:my-0 lg:mx-auto lg:flex lg:justify-between">

    <main class="w-4/5">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.subtitle }}</h2>

        <img class=" rounded-md lg:w-[800px] lg:h-[400px]" src={{ article.thumb.url }}/>

        <div class="w-4/5">
            <p>
            {{ article.text|safe }}
        </p>
        </div>

    </main>

    <aside>

        {% for article in articles %}
            <header>
                <h1>Veja também</h1>
            </header>
            <div class="aside-new">
                <img class="rounded-md lg:w-[270px] lg:h-[180px]" src={{ article.thumb.url }}>
                <h3>{{ article.title }}</h3>
            </div>

        {% endfor %}

    </aside>
</div>
{% endblock content %}